
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bulma scss
@import "node_modules/bulma/bulma";

// Bulma Vue modules
@import "node_modules/buefy/src/scss/buefy";


//Import material css
//@import "node_modules/material-components-web/dist/material-components-web";

@import "overrides";
@import "helpers";
@import "styles";
