.menu {
    height: auto;
    overflow-y: auto;
    padding: 1rem;
}

.navbar-item.image img {
    max-height: 100%;
}
.navbar-item.image {
    min-height: 128px;
    margin: 0;
}
/**
* BULMA Sidebar
*
*/
@media screen and (min-width: 769px) {
  .menu {
      height: 100vh;
      min-height: 100%;
  }
}

.manage {
  &.columns {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &>.column {
    padding-bottom: 0;
  }
}

#app {
  margin-right: 10px;
}

.vueItem input[type=checkbox] {
    display: none;
}
.subtitle:not(:last-child) {
    margin-bottom: .3rem;
}

.control.is-danger > .input, .control.is-danger > .textarea, .control.is-danger > .select > select {
    border-color: #ff3860;
}

.textarea.excerpt {height:100px;}

.createnewspost .notification,
.createcategory .notification
 {background-color:transparent}

.notification strong {
    color: currentColor;
    margin-right: 20px;
    line-height: 1.8rem;
}

form.allnewstable a span.fa{
  margin-top:.2rem;
}

button.is-danger.is-outlined.allnewstable, button.is-danger.is-outlined.trashtable, button.is-info.is-outlined.trashtable{
  border-color:transparent;
}

button.allnewstable > span.fa, button.trashtable > span.fa {
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}

.radio input[type=radio] {
    display: block;
    margin: 5px 10px;
}
