html {
    margin: 0;
    padding: 0;
    position:relative;
    min-height: 100%;
}
body {
  /*margin-bottom:250px;*/
  font-size: .85rem;
}
.footer {
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    padding: 3rem 1.5rem 4rem;
}
/**/
/*
BULMA NAVBAR nav, nav img, dropdown, button
*/
a.navbar-item, a.navbar-item.is-active, .navbar-link, .navbar-link.is-active {
    border-bottom: 1px solid transparent;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;
    color: #0a0a0a;
    border-bottom: 1px solid $navbar-dropdown-separator-color;
}

.navbar .navbar-brand >a:hover {
  background-color: transparent;
  background: none;
}
.navbar .navbar-brand button {
  background-color: transparent;
  background: none;
  border: none;
}
.navbar-item img {
    max-height: 3.75rem;
}
.navbar-dropdown {
    z-index: 2000;
}
.navbar-end .navbar-dropdown {
  right:0;
  left: auto;
}

/*
Login page
*/

.checkbox input[type=checkbox] {
      display: block;
      margin-right: 10px;
  }
.loginPage{
  padding-top:20px;

  .image.is-3by1 {
        padding-top: 5%;
  }

  .control.has-icons-right .input, .control.has-icons-right .select select {
    padding-right: 0.25em;
  }

  .control.has-icons-left .input, .control.has-icons-left .select select {
      padding-left: 3em;
  }

  .input, .textarea {

      font-size: .7rem;
      height: 3.25em;
      line-height: 3.5rem;
  }
}

/*
NAVBAR nav, nav img, dropdown, button
*/
.nav {
  height: 4.8rem;
  max-height: 4.8rem;
}
.nav-item img {
  max-height: 2.5rem;
}


.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 102%;
    z-index: 1000;
    background: white;
    min-width: 200px;
    text-align: left;
    box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px gba(57,70,78,.25);

    li {
      &.separator {
        border-top: 1px solid $navbar-dropdown-separator-color;
        margin: 5px 0;
      }
      &>a {
        margin: 5px 0 5px 10px;
        padding-left: 10px;
        display: block;
      }
      &>a:hover{
        background-color: $navbar-dropdown-hover-bg;
      }
    }
  }

  &.is-aligned-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  &.is-open .dropdown-menu {
    display: block;
  }
}

button.nav-item {
  background-color: transparent;
  border: none;
  color: $text-light;

  &:hover {
    color: $link-hover;
  }

  // Modifiers
  &.is-active {
    color: $link-active;
  }
  &.is-tab {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-bottom: calc(0.75rem - 1px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(0.75rem - 1px);
  }
    &:hover {
      border-bottom-color: $primary;
      border-top-color: transparent;
    }
    &.is-active {
      border-bottom: 3px solid $primary;
      color: $primary;
      padding-bottom: calc(0.75rem - 3px);
    }

}

.image.is-128x30 {
    height: 30px;
    width: 130px;
}
.image.is-125x85 {
    width: 125px;
    height: 85px;
}
.image.is-150x150 {
    width: 150px;
    height: 150px;
}
.image.is-250x170 {
    width: 250px;
    height: 170px;
}
.image.is-500x340 {
    width: 500px;
    height: 340px;
}

.news-container .field.is-grouped.is-grouped-multiline:last-child {
    margin-bottom: 0.0rem;
}
.news-container > .tag.is-danger {
  color: rgba(255, 255, 255, 0.81);;
}
/*
.news-container .box:first-child, :not(.box) + .box {
    margin-top: 1.5rem;
}
*/
.notification.is-alert {
  background-color: rgba(0, 180, 209, 0.73);
}

.loginPage .input, .loginPage .textarea{
  font-size: .7rem;
  height: 3.25em;
  line-height: 3em;
}
.panel-heading.is-danger {
    background-color: #ff3860; /*hsl(348, 100%, 61%);*/
    color: whitesmoke;
}


a.categoryItem {
  color: rgba(255, 255, 255, 0.81); /*hsl(348, 100%, 61%);*/
}
small {
    line-height: 2rem;
}

.footer {
	padding: 0;
}
