.fa-google-plus {
    color: #d34836;
}
.fa-facebook {
  color: #3b5998;
}

.contact_us_map {
	width: 100%;
	float: left;
	height: 470px;
	min-height: 470px;
	position: relative;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	-webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

.home-welcome {
    background-image: linear-gradient(45deg, #361752, #B31B67);
    background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
    background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
    background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
    background-image: -o-linear-gradient(45deg, #361752, #B31B67);

}
.home-welcome.is-fixed{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    color: white;
    padding: 10rem;
    font-size: 125%;
}

/*
PARALLAX
*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}
