/*
FONT SECTION
*/
/*
@font-face {
	font-family: 'Baloo Bhaijaan';
	src: url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.eot');
	src: url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.woff2') format('woff2'),
		url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.woff') format('woff'),
		url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.ttf') format('truetype'),
		url('/fonts/Baloo_Bhaijaan/BalooBhaijaan-Regular.svg#BalooBhaijaan-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Mukta Mahee';
  src: url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.eot');
  src: url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.woff2') format('woff2'),
  url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.woff') format('woff'),
  url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.ttf') format('truetype'),
  url('/fonts/Mukta_Mahee/medium/subset-MuktaMahee-Medium.svg#MuktaMahee-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
	font-family: 'Press Start 2P';
	src: url('/fonts/PressStart/subset-PressStart2P-Regular.eot');
	src: url('/fonts/PressStart/subset-PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/PressStart/subset-PressStart2P-Regular.woff2') format('woff2'),
		url('/fonts/PressStart/subset-PressStart2P-Regular.woff') format('woff'),
		url('/fonts/PressStart/subset-PressStart2P-Regular.ttf') format('truetype'),
		url('/fonts/PressStart/subset-PressStart2P-Regular.svg#PressStart2P-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Eater';
	src: url('/fonts/Eater/Eater-Regular.eot');
	src: url('/fonts/Eater/Eater-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Eater/Eater-Regular.woff2') format('woff2'),
		url('/fonts/Eater/Eater-Regular.woff') format('woff'),
		url('/fonts/Eater/Eater-Regular.ttf') format('truetype'),
		url('/fonts/Eater/Eater-Regular.svg#Eater-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
  font-family: 'SilomRegular';
  src: url('/fonts/SilomRegular/Krungthep.eot');
  src: url('/fonts/SilomRegular/Krungthep.woff2') format('woff2'),
       url('/fonts/SilomRegular/Krungthep.woff') format('woff'),
       url('/fonts/SilomRegular/Krungthep.ttf') format('truetype'),
       url('/fonts/SilomRegular/Krungthep.svg#Krungthep') format('svg'),
       url('/fonts/SilomRegular/Krungthep.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/ImpactRegular/Impact.woff') format('woff'),
       url('/fonts/ImpactRegular/Impact.ttf') format('truetype'),
       url('/fonts/ImpactRegular/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ImpactRegular';
  src: url('/fonts/ImpactRegular/ImpactRegular.eot');
  src: url('/fonts/ImpactRegular/ImpactRegular.woff2') format('woff2'),
       url('/fonts/ImpactRegular/ImpactRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*
INDEX PAGE
*/

// Navbar icons on mobile devices
#navMenu{
    font-family: 'SilomRegular';
}
.fa-google-plus {
    color: #d34836;
}
.fa-facebook {
  color: #3b5998;
}
.navbar-burger {
    margin-top: .7rem;
}
// Header section
// image with parallax effect
.headersection {
  min-height:900px;
}
.headersection .parallax-window {
  min-height:900px;
  background-color: rgba(105, 71, 71, 0.4);

}
.headersection .hero .title,
.headersection .hero .subtitle {
  font-family: 'ImpactRegular';
	text-transform: uppercase;
}
.headersection .hero .title {
  font-size: 6rem !important;
  color: #e82525;
  /*#ffdbc0*/
}
.headersection .hero .subtitle {
  font-size: 3rem !important;
}
.headersection .tile.information
{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: -100px;
}
.headersection .notification
{
  padding: 0;
}

.headersection .card {
  background: transparent;
  -webkit-box-shadow: none;
    box-shadow: none;
}

.home-welcome {
    background-image: linear-gradient(45deg, #361752, #B31B67);
    background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
    background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
    background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
    background-image: -o-linear-gradient(45deg, #361752, #B31B67);

}
.home-welcome.is-fixed{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    color: white;
    padding: 10rem;
    font-size: 125%;
}

// PARALLAX

.parallax-window {
    min-height: 400px;
    background-color: transparent;
    background: transparent;
}

// Testimonial section
.testimonial {
  min-height:400px;
  background-image: url( '/images/header/testimonial-overlay.png' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 65px;
    background-color: rgb(175, 23, 65);
    position: relative;
}
.testimonial:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/images/header/testimonial-overlay.png');
    background-repeat: repeat;
    background-position: center;
    opacity: 1;
}
.gt_hdg_1 {

    width: 100%;
    position: relative;
    text-align: center;

}
.gt_hdg_1.white_hdg h1, .gt_hdg_1.white_hdg h2 {
    color: #fff;
}
.gt_hdg_1 h1 {
    text-transform: uppercase;
    font-weight: 600;
}

/*
ABOUT PAGE
*/


/*
TEAM PAGE
*/

#app {
    margin-right: 0px;
}
.teamlist .notification {
    padding: 0rem;
    background-color:transparent;
}
.teamlist .notification .card{
    margin: 0rem;
}
.teamlist .card .media:not(:last-child) {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 1rem;
}
/*
CONTACT PAGE
*/

.contact_us_map {
	width: 100%;
	float: left;
	height: 470px;
	min-height: 470px;
	position: relative;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	-webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

#ContactMap {
	position: relative;
	min-height: 500px;
	margin-bottom: 20px;
}
.gt_form_map {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 42px 0px;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
    background-color: rgba(255, 255, 255, 0.72);
    z-index: 1000;
    height: 474px;
}
@media screen and (max-width: 768px){
	.gt_form_map {
			position: relative;
			top: -2px;
			margin: auto;
			width: 100%;
			padding: 42px 0px;
			-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
			box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
			background-color: rgba(255, 255, 255, 0.72);
			z-index: 1000;
			min-height: 640px;
			display: block;
	}
}


@media screen and (max-width: 1007px) {
	.gt_form_map {
	    position: relative;
	    top: -2px;

	    margin: auto;
	    width: 100%;
	    padding: 42px 0px;
	    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
	    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.09);
	    background-color: rgba(255, 255, 255, 0.72);
	    z-index: 1000;
	    height: 474px;
	}
	.gt_form_map .card {
		max-width:100%;
    width: 100%;
    position: relative;
	}
}

.teamlist .card,
.gt_form_map .card {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}


/*
NEWS LIST PAGE
*/


/*
NEWS PAGE
*/
#app {
    margin-right: 0px;
}

.news-container small.icon.is-small.postcount {
    min-width: 5rem;
}
.news-container .postcount >i.fa.fa-clone {
    margin-right: .3rem;
}

.news-sidebar .panel .media-content .content {
    color: #6f6f6f;
}
.news-container .notification {
    padding: 1.25rem;
}

.news-container .notification .card{
    margin: 1.25rem;
}
@media screen and (max-width: 1260px){
  .news-container .box .media {
      display: block;
  }
  .news-container .box .media .media-content{
      margin-top: 1rem;
  }

}

.news-sidebar form.news-search-form .button >.fa {
    font-size: 15px;
}
.is-fullwidth {
    width: 100%;
    min-width: 100%;
}

.news-sidebar .panel-heading.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.news-sidebar .panel-heading.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.81);
}
.news-sidebar .panel-heading.is-info {
    background-color: #3273dc;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}
.news-sidebar .panel-heading.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: whitesmoke;
}

.news-sidebar > .panel {
    background-color:#f9f9f9;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.news-sidebar .panel-block {
    border-bottom: 1px solid #dbdbdb;
    border-left: 0px solid #dbdbdb;
    border-right: 0px solid #dbdbdb;
}

.panel-block:last-child
{
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}


.news-sidebar .tag.is-sup {margin-top: -15px;
    font-size: .6rem;
    margin-left: 5px;
}
.news-sidebar .tag.is-light {
    background-color: gainsboro;
    color: #363636;
}


/*
FOOTER SECTION
*/
.footer {
	font-family: 'SilomRegular';
  background-color: #2a2a2a !important;

	&>.container {
			padding: 3rem 1.5rem 0rem;
	    max-width: 100%;
	    width: 100%;

			&.is-dark {
				background-color: #4a4a4a;
			}
			&.is-black {
				padding: 1rem 0 1rem;
				background-color:#30013e;
				max-width: 100%;
				width: 100%;
			}
	}
}
.footer-navbar-list li a.navbar-item {
	color: whitesmoke !important;
	line-height: 0.5;
}
.footer_header {
	position: relative;
}

.footer-header:after {
    content: "";
    display: block;
    width: 35px;
    border-bottom: 2px solid #9fff26;
    margin: 5px auto 10px 0;
    z-index: 10;
    position: relative;
}

#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
}
